<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Contactar</title>
</head>

<body>
    <div class="container">
        <header>
            <div id="logo">
                <a href="../index.html">
                    <img src="../static/img/logo-only-noBackground.png" alt="logo" id="logo-img">
                </a>
                <h1>Webfolio Creations</h1>
            </div>
            <div id="login">
                <a href="./login.html">Iniciar Sesion</a>
            </div>
        </header>
        <!--    Navegador   -->
        <div class="navbar">
            <input type="checkbox" name="" id="check">
            <label class="hamb" for="check"><span class="hamb-line"></span></label>
            <nav class="nav">
                <ul class="menu nobullets">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./sobremi.html">Sobre Mi</a></li>
                    <li><a href="./experencia_laboral.html">Experiencia de Trabajo</a></li>
                    <li><a href="./proyectos.html">Proyectos</a></li>
                    <li><a href="./habilidades.html">Habilidades</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>

        <!--    Contenido Principal -->
        <main class="contacto">
            <div class="section">
                <h2>Contacto</h2>
                 <!-- Imagen -->
                <div class="profile-img">
                    <img src="../static/img/profile-pic.png" alt="imagen_contacto">
                </div>
                <form action="#">
                    <div class="form">
                        <div class="fields">
                            <label for="empresa">Empresa:</label>
                            <input type="text" name="empresa" id="empresa" required>
                        </div>
                        <div class="fields">
                            <label for="telefono">Telefono:</label>
                            <input type="tel" name="telefono" id="telefono">
                        </div>
                        <div class="fields">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" placeholder="email@email.com" required>
                        </div>
                        <div class="fields">
                            <label for="whatsapp">¿Quieres que te contacten por whatsapp?:</label>
                            <input type="radio" name="whatsapp" id="siWhatsApp" value="si" checked>
                            <label for="siWhatsApp">Sí</label>
                            <input type="radio" name="whatsapp" id="noWhatsApp" value="no">
                            <label for="noWhatsApp">No</label>
                        </div>
                        <div class="fields">
                            <label for="asunto">Asunto:</label>
                            <input type="text" name="asunto" id="asunto" placeholder="Entrevista">
                        </div>
                        <div class="fields">
                            <label for="mensaje">Mensaje:</label>
                            <input type="text" name="mensaje" id="mensaje" placeholder="Escribe tu mensaje aqui...">
                        </div>
                        <!-- Botones -->
                        <div class="buttons">
                            <input type="submit" value="Enviar"></input>
                            <input type="reset" value="Cancelar"></input>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <!--    Pie de Pagina   -->
        <footer class="text-centered">
            <div class="rights">
                <h6>Todos los derechos reservados | Diseñado por El trio maravilla - 2024</h6>
            </div>
            <div class="footer-link">
                <a href="./soporte.html">Soporte</a>
            </div>
        </footer>
    </div>
</body>

</html>