<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Experencia</title>
</head>

<body>
    <!--    Arriba del Banner   -->
    <header>
      <img src="#" alt="logo">
      <h1>Webfolio Creations</h1>
    </header>
    <!--    Navegador   -->
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="sobremi.html">Sobre Mi</a></li>
            <li><a href="#">Experiencia Laboral</a></li>
            <li><a href="proyectos.html">Proyectos</a></li>
            <li><a href="#">Habilidades</a></li>
            <li><a href="#">Contactar</a</li>
        </ul>
    </nav>
    
    <!--    Contenido Principal -->    
    <section class="experencia">
        <h2>Experencia Laboral</h2>
    
        <div class="tarjeta">
            <p class="empresa">Empresa: <span id="empresa1"></span></p>
            <p class="anios">Años: <span id="anios1"></span></p>
            <p class="cargo">Cargo y Ocupacion: <span id="cargo1"></span></p>
        </div>
        
        <div class="tarjeta">
            <p class="empresa">Empresa: <span id="empresa2"></span></p>
            <p class="anios">Años: <span id="anios2"></span></p>
            <p class="cargo">Cargo y Ocupacion: <span id="cargo2"></span></p>
        </div>
        
        <div class="tarjeta">
            <p class="empresa">Empresa: <span id="empresa3"></span></p>
            <p class="anios">Años: <span id="anios3"></span></p>
            <p class="cargo">Cargo y Ocupacion: <span id="cargo3"></span></p>
        </div>
        
        <button id="agregar_tarjeta">Añadir Experencia Laboral</button>

    </section>    
    <!--    Pie de Pagina   -->
    <footer>
        <div>
            <img src="" alt="logo">
            <h1>Webfolio Creations</h1>
            <h6>Desarrollado para Codo A Codo - Argentina - 2024</h6>
            <a href="#">Ayuda</a>
        </div>
    </footer>
</body>
</html>