<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/camilo.css">
    <title>WebfolioCreations</title>
</head>

<body>
    <header>
        <img src="" alt="logo">
        <nav>
            <ul>
                <li> <a href="../index.html">Inicio</a> </li>
                <li><a href="sobremi.html">Sombre Mi</a></li>
                <li><a href="experencia_laboral.html">Experiencia de Trabajo</a></li>
                <li><a href="proyectos.html">Proyectos</a></li>
                <li><a href="habilidades.html">Habilidades</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->
    
    <section class="habilidades">
        <h1>Habilidades</h1>
        <div class="contenedor_tarjetas">
            <div class="tarjeta">
    
                <form id="form_habilidad_1">
                    <label for="tecnologia1">Tecnología</label>
                    <input type="text" id="tecnologia1" name="tecnologia1" placeholder="HTML, CSS, JavaScript, etc." required>
    
                    <label for="descripcion_habilidad1">Descripción</label>
                    <textarea id="descripcion_habilidad1" name="descripcion_habilidad1" placeholder="Cuantos años practicando y estudiando esta habilidad, cómo la adquirió y cuéntenos más..." rows="6" required></textarea>
    
                    <button type="submit">Agregar</button>
                </form>
    
            </div>
    
            <div class="boton_agregar_tarjeta">
                <button id="agregar_tarjeta">Agregar Tarjeta</button>
            </div>
        </div>
    </section>
    

    
    <!-- Pie de pagina -->
    <footer>
        <div>
            <div>
                <h6>Todos los derechos reservados| Diseñado por Na7ux, Darkatos y Sacashhh| 2024
                </h6>
            </div>
            <div class="soporte">
                <h6><a href="">Soporte</a></h6>
            </div>
        </div>
    </footer>

</body>

</html>
