<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>WebfolioCreations</title>
</head>

<body>
    <div class="container">
        <header>
            <div id="logo">
                <a href="../index.html">
                    <img src="../static/img/logo-only-noBackground.png" alt="logo" id="logo-img">
                </a>
                <h1>Webfolio Creations</h1>
            </div>
            <div id="login">
                <a href="./login.html">Iniciar Sesion</a>
            </div>
        </header>
        <div class="navbar">        
            <input type="checkbox" name="check" id="check">
            <label class="hamb" for="check"><span class="hamb-line"></span></label>
            <nav class="nav">
                <ul class="menu nobullets">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./sobremi.html">Sobre Mi</a></li>
                    <li><a href="./experencia_laboral.html">Experiencia de Trabajo</a></li>
                    <li><a href="./proyectos.html">Proyectos</a></li>
                    <li><a href="./habilidades.html">Habilidades</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>       
        </div>

        <!-- Contenido principal -->
        <main>
            <h2>Habilidades</h2>
                
            <div class="abrir_modal">
                <button id="boton_modal">Agregar Habilidad</button>
            </div>
        
            <!-- Contenedor de habilidades subidas por el usuario -->
           <div class="card_container">
                <!-- Tarjeta de ejemplo --> 
                <div class="show_skill">
                    <div class="skill_content">
                        <h3 class="skill">Ejemplo: HTML</h3>
                        <p class="skill_description">HTML es como mi lienzo digital. Desde que comencé en la programación web, ha sido mi herramienta principal para dar forma a mis ideas en la pantalla. Es sorprendente cómo unas pocas etiquetas pueden transformar un documento en una experiencia interactiva y visualmente atractiva. Cada vez que escribo HTML, siento que estoy construyendo algo tangible en el mundo digital, y eso es una sensación increíble.</p>
                    </div>
                </div>

                <div class="show_skill">
                    <div class="skill_content">
                        <h3 class="skill">Ejemplo: HTML</h3>
                        <p class="skill_description">HTML es como mi lienzo digital. Desde que comencé en la programación web, ha sido mi herramienta principal para dar forma a mis ideas en la pantalla. Es sorprendente cómo unas pocas etiquetas pueden transformar un documento en una experiencia interactiva y visualmente atractiva. Cada vez que escribo HTML, siento que estoy construyendo algo tangible en el mundo digital, y eso es una sensación increíble.</p>
                    </div>
                </div>

                <div class="show_skill">
                    <div class="skill_content">
                        <h3 class="skill">Ejemplo: HTML</h3>
                        <p class="skill_description">HTML es como mi lienzo digital. Desde que comencé en la programación web, ha sido mi herramienta principal para dar forma a mis ideas en la pantalla. Es sorprendente cómo unas pocas etiquetas pueden transformar un documento en una experiencia interactiva y visualmente atractiva. Cada vez que escribo HTML, siento que estoy construyendo algo tangible en el mundo digital, y eso es una sensación increíble.</p>
                    </div>
                </div>
           </div> 
           
           <!-- Modal Box para agregar habilidades -->
           <div id="mi_modal" class="modal">
               <!-- Contenido del Modal -->   
               <div id="modal_habilidad" class="contenido-modal"> 
                    <div class="modal-header">
                       <span class="close">&times;</span>
                       <h3 id="titulo-encabezado-modal">Habilidad</h3>
                    </div>
   
                    <div class="modal-body">
                        <div class="card_container">
                            <div class="card">

                               <!-- Formulario para agregar habilidades -->
                                <form class="form_skill text-centered" id="form_skill">
                                   <label for="skill">Tecnología</label>
                                   <input type="text" id="skill" name="skill" placeholder="HTML, CSS, JavaScript, etc." required>
           
                                   <label for="skill_description">Descripción</label>
                                   <textarea id="skill_description" name="descripcion_habilidad" placeholder="Describe cómo aprendiste esta tecnología y tu experiencia con ella..." rows="4" required></textarea>
           
                                   <button type="submit" class="button">Agregar Habilidad</button>
                                </form>
                            </div>
                        </div>
                    </div>
   
                    <div class="modal-footer">
                       <h5 id="texto-pie-modal">Todos los derechos reservados| Diseñado por Na7ux, Darkatos y Sacashhh| 2024
                       </h5>
                    </div>
                </div>
            </div>
        </main>
                

        <!-- Pie de pagina -->
        <footer class="text-centered">
            <div class="rights">
                <h6>Todos los derechos reservados | Diseñado por NinjaCode | 2024</h6>
            </div>
            <div class="footer-link">
                <a href="./soporte.html">Soporte</a>
            </div>
        </footer>
    </div>
    <script src="../static/js/habilidades.js"></script>
</body>

</html>