<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webfolio Creations</title>
</head>

<body>
    <header>
        <div>
            <img src="../static/img/logo-only.png" alt="logo">
            <h1>Webfolio Creations</h1>
        </div>
    </header>
    <section>
        <h2>Login</h2>
        <form action="">
            <label for="">Usuario</label>
            <input type="">
            <br>
            <br>
            <label for="">Contraseña</label>
            <input type="password" name="" id="">
            <br><br>
            <input type="button" value="Entrar">
            <input type="button" value="Cancelar">
        </form>
    </section>
    <footer>
        <div>
            <h6>Todos los derechos reservados | Diseñado por El trio maravilla - 2024</h6>
        </div>
        <div>
            <a href="">Soporte</a>
        </div>
    </footer>
</body>

</html>