<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/camilo.css">
    <title>WebfolioCreations</title>
</head>

<body>
    <header>
        <!-- Imagen del logo de la empresa -->
        <img src="" alt="logo">
        <h1>Webfolio Creations</h1>
    </header>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Sobre Mi</a>
        <a href="#">Experiencia de Trabajo</a>
        <a href="#">Proyectos</a>
        <a href="#">Habilidades</a>
        <a href="#">Contacto</a>
    </nav>

        
    <!-- Contenido Principal -->
    <section class="proyectos">
        <h1>Proyectos</h1>
        
        <div class="abrir_modal">
            <button id="boton_modal">Agregar Proyecto</button>
        </div>
    
        <!-- Contenedor de proyectos subidos por el usuario -->
        <div class="contenedor_tarjetas">  
            <!-- Proyecto Ejemplo -->
            <div class="tarjeta_proyecto_ejemplo">
                <div class="contenido_proyecto">
                    <h3 class="titulo_proyecto"> Ejemplo: Webfolio Creations </h3>
                    <div class="imagen_proyecto">
                        <img class="imagen_previa" src="../static/img/banner.png" alt="Imagen del proyecto">
                    </div>
                    <p class="descripcion_proyecto">Página Web, pensada en creación de portafolio.</p>
                </div>
            </div>
        </div>

    </section>

    <!-- Modal Box -->
    <div id="mi_modal" class="modal">

        <!-- Contenido del Modal -->
        <div class="contenido-modal">
            
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="titulo-encabezado-modal">Proyectos</h2>
            </div>
            
            <div class="modal-body">
                <div class="contenedor_tarjetas">
                    <div class="tarjeta">

                        <!-- Formulario para agregar proyectos -->
                        <form id="form_proyecto">
                            <label for="titulo_proyecto1">Título del Proyecto</label>
                            <input type="text" id="titulo_proyecto1" name="titulo_proyecto1" placeholder="Título del Proyecto" >
            
                            <label for="imagen_proyecto1">Imagen del Proyecto</label>
                            <input type="file" id="imagen_proyecto1" name="imagen_proyecto1" accept="image/*" >
            
                            <label for="descripcion_proyecto1">Descripción del Proyecto</label>
                            <textarea id="descripcion_proyecto1" name="descripcion_proyecto1" placeholder="Describe el proyecto..." rows="4" ></textarea>
            
                            <button id="subir_proyecto" type="submit">Agregar Proyecto</button>
                        </form>
                    </div>
                    
                </div>
            </div>

            <div class="modal-footer">
                <h5 id="texto-pie-modal">Todos los derechos reservados| Diseñado por Na7ux, Darkatos y Sacashhh| 2024
                </h5>
            </div>
        </div>
    </div>
  


    <!-- Pie de pagina -->
    <footer>
        <div>
            <h6>Todos los derechos reservados| Diseñado por Na7ux, Darkatos y Sacashhh| 2024
            </h6>
        </div>
        <div class="soporte">
            <h6><a href="">Soporte</a></h6>
        </div>
    </footer>
    <script src="../static/js/proyecto.js"></script>
</body>

</html>
