<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/prueba.css">
    <title>Registro</title>
</head>

<body>
    <div class="container">
        <header>
            <div id="logo">
                <a href="../index.html">
                    <img src="../static/img/logo-only-noBackground.png" alt="logo" id="logo-img">
                </a>
                <h1>Webfolio Creations</h1>
            </div>
            <div id="login">
                <a href="./login.html">Iniciar Sesion</a>
            </div>
        </header>

        <!--    Navegador  -->
        <div class="navbar">
            <input type="checkbox" name="" id="check">
            <label class="hamb" for="check"><span class="hamb-line"></span></label>
            <nav class="nav">
                <ul class="menu nobullets">
                    <li><a href="../index.html">Inicio</a></li>
                </ul>
            </nav>
        </div>
        <!--    Contenido Principal -->
        <main>
            <div class="section">
                <h2>Registro</h2>

                <!-- Pedir datos al usuario -->
                <form action="" class="form text-centered" id="form">

                    <!--Grupo Nombre-->
                    <div class="fields" id="group__name">
                        <label for="name" class="form_label">Nombre: </label>
                        <div class="group-input">
                            <input type="text" class="input" name="name" id="name" placeholder="John">
                            <i class="validation fa-solid fa-circle-xmark"> </i>
                        </div>
                        <p class="input-error">El Nombre tiene que ser de 3 a 30 digitos y solo puede
                            contener letras</p>
                    </div>
                    <!--Grupo Apellido-->
                    <div class="fields" id="group__surname">
                        <label for="surname" class="form__label">Apellido: </label>
                        <div class="group-input">
                            <input type="text" class="input" name="surname" id="surname" placeholder="Smith">
                            <i class="validation fa-solid fa-circle-xmark"> </i>
                        </div>
                        <p class="input-error">El Apellido tiene que ser de 3 a 30 digitos y solo puede
                            contener letras</p>
                    </div>
                    <!--Grupo Email-->
                    <div class="fields" id="group__email">
                        <label for="email" class="form__label">Email: </label>
                        <div class="group-input">
                            <input type="email" class="input" name="email" id="email"
                                placeholder="Webfolio@Creations.com">
                            <i class="validation fa-solid fa-circle-xmark"> </i>
                        </div>
                        <p class="input-error">El correo solo puede contener letras, numeros, puntos,
                            guiones y guiones bajos</p>
                    </div>
                    <!--Grupo Telefono-->
                    <div class="fields" id="group__phone">
                        <label for="phone" class="form__label">Telefono: </label>
                        <div class="group-input">
                            <input type="text" class="input" name="phone" id="phone" placeholder="3884813587">
                            <i class="validation fa-solid fa-circle-xmark"> </i>
                        </div>
                        <p class="input-error">El telefono solo puede contener nuemros y el maximo son
                            14 digitos</p>
                    </div>
                    <!--Grupo Usuario-->
                    <div class="fields" id="group__user">
                        <label for="user" class="form_label">Usuario: </label>
                        <div class="group-input">
                            <input type="text" class="input" name="user" id="user" placeholder="Usuario">
                            <i class="validation fa-solid fa-circle-xmark"> </i>
                        </div>
                        <p class="input-error">El usuario tiene que ser de 4 a 16 digitos y solo puede
                            contener numeros, letras y guiones bajos</p>
                    </div>
                    <!--Grupo Contraseña-->
                    <div class="fields" id="group__password">
                        <label for="password" class="form__label">Password: </label>
                        <div class="group-input">
                            <input type="password" class="input" name="password" id="password">
                            <i class="validation fa-solid fa-circle-xmark"> </i>
                        </div>
                        <p class="input-error">La contraseña tiene que ser de 4 a 12 digitos</p>
                    </div>

                    <!--Grupo Contraseña2-->
                    <div class="fields" id="group__password2">
                        <label for="password2" class="form__label">Repetir Contraseña: </label>
                        <div class="group-input">
                            <input type="password" class="input" name="password2" id="password2">
                            <i class="validation fa-solid fa-circle-xmark"> </i>
                        </div>
                        <p class="input-error">Ambas contraseñas tienen que ser iguales</p>
                    </div>
                    <div class="fields">
                        <label for="fotoperfil">Elija su foto de perfil</label>
                        <input type="file" name="fotoperfil" id="">
                        <input type="button" value="Guardar">
                        <img src="" alt="imagen_registro">
                    </div>

                    <div class="message" id="form__message">
                        <p><i class="fa-solid fa-triangle-exclamation"></i><b> Error</b> Por favor rellene el
                            formulario correctamente</p>
                    </div>
                    <div class="buttons formulario__grupo-btn-enviar">
                        <button type="submit" class="button">Enviar</button>
                        <button type="submit" class="button">Cancelar</button>

                        <p class="success" id="success">El formulario se envio
                            exitosamente</p>
                    </div>

                </form>
            </div>
        </main>

        <!--    Pie de Pagina   -->
        <footer class="text-centered">
            <div class="rights">
                <h6>Todos los derechos reservados | Diseñado por El trio maravilla - 2024</h6>
            </div>
            <div class="footer-link">
                <a href="./soporte.html">Soporte</a>
            </div>
        </footer>
        <script src="../static/js/js.js"></script>
</body>

</html>