<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Registro</title>
</head>

<body>
    <div class="container">
        <header>
            <div id="logo">
                <a href="../index.html">
                    <img src="../static/img/logo-only-noBackground.png" alt="logo" id="logo-img">
                </a>
                <h1>Webfolio Creations</h1>
            </div>
            <div id="login">
                <a href="./login.html">Iniciar Sesion</a>
            </div>
        </header>

        <!--    Navegador  -->
        <div class="navbar">        
            <input type="checkbox" name="" id="check">
            <label class="hamb" for="check"><span class="hamb-line"></span></label>
            <nav class="nav">
                <ul class="menu nobullets">
                    <li><a href="../index.html">Inicio</a></li>
                </ul>
            </nav>       
        </div>     
    <!--    Contenido Principal -->
    <section    class="Registro">
        <h2>Registro</h2>

        <!-- Pedir datos al usuario -->
        <div class="form">
            <form action="#">
                <label for="nombre">Nombre: </label>
                <input type="text" id="nombre" name="nombre" required>
    
                <label for="apellido">Apellido: </label>
                <input type="text" id="apellido" name="apellido" required>
                
                <label for="email">Email: </label>
                <input type="email"  id="email" name="email" required>
    
                <label for="telefono">Telefono: </label>
                <input type="tel" name="telefono" id="telefono">
    
                <label for="usuario">Usuario: </label>
                <input type="text" name="usuario" id="usuario" required>
                
                <label for="contrasena">Contraseña: </label>
                <input type="password" name="contrasena" id="contrasena" required>
            </form> 
        </div>

        <!-- Botones -->
        <div class="botones">
            <button type="submit">Guardar</button>
            <button type="button" onclick=""> Cancelar</button>
        </div>
        <!-- Imagen -->
        <div class="imagen_registro">
            <img src="" alt="imagen_registro">
        </div>

    </section>

    <!--    Pie de Pagina   -->
    <footer class="text-centered">
        <div class="rights">
            <h6>Todos los derechos reservados | Diseñado por El trio maravilla - 2024</h6>
        </div>
        <div class="footer-link">
            <a href="./soporte.html">Soporte</a>
        </div>
    </footer>

</body>
</html>