<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/ad9835fec7.js" crossorigin="anonymous"></script>
    <title>WebfolioCreations</title>
</head>

<body>
    <div class="container">
        <header>
            <div id="logo">
                <a href="../index.html">
                    <img src="../static/img/logo-only-noBackground.png" alt="logo" id="logo-img">
                </a>
                <h1>Webfolio Creations</h1>
            </div>
            <div id="login">
                <a href="./login.html">Iniciar Sesion</a>
            </div>
        </header>
        <div class="navbar">        
            <input type="checkbox" name="check" id="check">
            <label class="hamb" for="check"><span class="hamb-line"></span></label>
            <nav class="nav">
                <ul class="menu nobullets">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./sobremi.html">Sobre Mi</a></li>
                    <li><a href="./experencia_laboral.html">Experiencia de Trabajo</a></li>
                    <li><a href="./proyectos.html">Proyectos</a></li>
                    <li><a href="./habilidades.html">Habilidades</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>       
        </div>         
        <main>
            <div class="section">
                <div>
                    <h2>Sobre Mi</h2>
                </div>
                <div class="profile-img">
                    <img src="../static/img/profile-pic.png" alt="foto_perfil">
                </div>
                <div class="text text-centered">
                    <p>¡Hola! Soy Juan, un apasionado desarrollador full stack en los primeros pasos de mi carrera. Recientemente, he completado mi formación en [mencionar cualquier curso, bootcamp o universidad relevante] y estoy emocionado por adentrarme en el mundo del desarrollo web profesional.

                        Me encanta trabajar tanto en el front-end como en el back-end, y tengo experiencia con tecnologías como HTML, CSS, JavaScript, React, Node.js, y bases de datos como MongoDB y SQL. Disfruto creando aplicaciones web que no solo son funcionales, sino también atractivas y fáciles de usar.
                        
                        Aunque estoy empezando, ya he trabajado en varios proyectos personales y colaborativos que me han permitido aplicar mis conocimientos y aprender nuevas habilidades. Soy una persona curiosa, siempre buscando aprender y mejorar</p>
                </div>                
            </div>
        </main>
        <footer class="text-centered">
            <div class="rights">
                <h6>Todos los derechos reservados | Diseñado por El trio maravilla - 2024</h6>
            </div>
            <div class="footer-link">
                <a href="./soporte.html">Soporte</a>
            </div>
        </footer>
    </div>
</body>

</html>