<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>WebfolioCreations</title>
</head>

<body>
    <dic class="container">
        <header>
            <div id="logo">
                <a href="../index.html">
                    <img src="../static/img/logo-only-noBackground.png" alt="logo" id="logo-img">
                </a>
                <h1>Webfolio Creations</h1>
            </div>
            <div id="login">
                <a href="./login.html">Iniciar Sesion</a>
            </div>
        </header>
        <div class="navbar">        
            <input type="checkbox" name="" id="check">
            <label class="hamb" for="check"><span class="hamb-line"></span></label>
            <nav class="nav">
                <ul class="menu nobullets">
                    <li><a href="../index.html">Inicio</a></li>
                </ul>
            </nav>       
        </div>        
        <main>
            <h2>Soporte</h2>
            <form action="" class="text-centered">
                <label for="">Nombre y Apellido</label>
                <input type="text">
                <br>
                <br>
                <label for="">Mail: </label>
                <input type="text" name="" id="">
                <br>
                <br>
                <label for="">Mensaje: </label>
                <input type="text" name="" id="">
                <br><br>
                <input type="button" value="Enviar">
                <input type="button" value="Cancelar">
            </form>
        </main>
        <footer class="text-centered">
            <div class="rights">
                <h6>Todos los derechos reservados | Diseñado por El trio maravilla - 2024</h6>
            </div>
            <div class="footer-link">
                <a href="./soporte.html">Soporte</a>
            </div>
        </footer>
    </dic>
</body>

</html>