<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>WebfolioCreations</title>
</head>

<body>
    <div class="container">
        <header>
            <div id="logo">
                <a href="../index.html">
                    <img src="../static/img/logo-only-noBackground.png" alt="logo" id="logo-img">
                </a>
                <h1>Webfolio Creations</h1>
            </div>
            <div id="login">
                <a href="./login.html">Iniciar Sesion</a>
            </div>
        </header>
        <div class="navbar">
            <input type="checkbox" name="" id="check">
            <label class="hamb" for="check"><span class="hamb-line"></span></label>
            <nav class="nav">
                <ul class="menu nobullets">
                    <li><a href="../index.html">Inicio</a></li>
                </ul>
            </nav>
        </div>
        <main>
            <div class="section">
                <h2>Soporte</h2>
                <form action="" class="text-centered" id="login">
                    <div class="form">
                        <div class="fields">
                            <label for="login">Nombre y Apellido: </label>
                            <input type="text" name="nombreyapellido" placeholder="" required>
                        </div>
                        <div class="fields">
                            <label for="login">Mail: </label>
                            <input type="text" name="mail" placeholder="email@email.com" required>
                        </div>
                        <div class="fields">
                            <label for="login">Mensaje: </label>
                            <textarea name="mensaje" id="" placeholder="Escriba su mensaje aquí..." required></textarea>
                        </div>  
                        <div class="buttons">
                            <input type="submit" value="Enviar" onclick="location.href='../index.html'">
                            <input type="reset" value="Cancelar" onclick="location.href='../index.html'">
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer class="text-centered">
            <div class="rights">
                <h6>Todos los derechos reservados | Diseñado por El trio maravilla - 2024</h6>
            </div>
            <div class="footer-link">
                <a href="./soporte.html">Soporte</a>
            </div>
        </footer>
    </div>
</body>

</html>