

/* variables de color */

:root {
  --white: rgb(255, 255, 255); /* Blanco */
  --light-gray: rgb(213, 231, 240); /* Gris claro */
  --grayish-blue: rgb(150, 173, 193); /* Azul grisáceo */
  --dark-blue: rgb(24, 45, 73); /* Azul oscuro */
  --black: rgb(0, 0, 0); /* Negro */
  --blue: rgb(0, 122, 255); /* Azul */
  
}

*{
  text-decoration: none;
}

/* Genericos  */

/* Tarjetas */
.contenedor_tarjetas{
  width: 100%;
  max-width: 1200%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

.tarjeta {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  padding: 15px; /* Espaciado interno */
  margin-bottom: 20px; 
  position: relative;
  flex-direction: column;
  background-color: var(--light-gray);
  box-shadow: 0 4px 8px var(--black); /* Sombra */
}

.tarjeta label{
  color: var(--black); /* Color del texto */
  margin-bottom: 5px; /* Espaciado inferior */
  display: block; 
  text-decoration: none;
  text-align: left;
}

.tarjeta input{
  margin-bottom: 15px; /* Espaciado inferior */
  padding: 8px;
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 280px;
}

.tarjeta button{ 
  left: 50%; 
  bottom: 10px;
  position: absolute;
  transform: translateX(-50%); /* Esto sirve para centrarlo */
  background-color: var(--grayish-blue);
  color: var(--black);
}

.abir_modal button {
  padding: 8px 12px;
  font-size: 15px; 
  background-color: var(--light-gray);
  color: var(--black);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--black); /* Sombra */
  transition: background-color 0.3s ease;
}


#abir_modal:hover {
  background-color: var(--blue); /* Color de fondo al pasar el mouse */
}

/* Estilos para el Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Contenido del Modal */
.contenido-modal {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Animacion */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Boton de cerrar */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


/* Estilos para las tarjetas de Experiencia Laboral */

.experencia h1{
  color: var(--black);
  font-size: 35px;
  text-align: left;
  margin-left: 35px;
  box-decoration-break: unset;
}

.tarjeta .anios {
  display: flex;
}

.tarjeta .anios input{
  flex: 1; /* El input ocupará todo el espacio disponible */
  margin-right: 10px; /* Espacio entre los inputs */
}

.tarjeta textarea.cuentame_mas {
  width: 280px;
  height: 100px;
  padding: 8px;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: none; /* Evita que el usuario pueda redimensionar el textarea */
}

.tarjeta textarea.cuentame_mas::placeholder {
  color: var(--black); /* Color del placeholder */
}


/* Estilos para las tarjetas de  Habilidades */

.habilidades h1{
  color: var(--black);
  font-size: 35px;
  text-align: left;
  margin-left: 35px;
  box-decoration-break: unset;
}

.habilidades .tarjeta textarea{
  height: 200px; 
  width: 280px;
  padding: 8px;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: none;
}


/* Estilos para las tarjetas de Proyectos */

.proyectos h1{
  color: var(--black);
  font-size: 35px;
  text-align: left;
  margin-left: 35px;
  box-decoration-break: unset;
}

.proyectos .tarjeta textarea{
  height: 160px; 
  width: 280px;
  padding: 8px;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: none;
}