:root{
    --black: #2e2e2d;
    --white: #ECECED;
    --grey: #929292;
    --lightBrown: #D1C1AF;
    --darkBrown: #716152;
} /* variables*/

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fields {
    display: inherit;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.buttons {
    display: inherit;
    justify-content: center;
    margin: 10px;
}

.input {
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-bottom: 2px solid var(--black);
    margin: 4px 0;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.input:focus {
    border: 2px solid var(--darkBrown);
}

.group-input{
    position: relative;
}

.input-error-active{
    display: flex;
    
}

.input-error{
    font-size: 12px;
    margin: bottom 0; 
    display: none;
}

.validation{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.group-correct
.validation{
    color: #1ed12d;
    opacity: 1;
}
.group-incorrect
.form__label{
    color: #bb2929;
}
.group-incorrect
.validation{
    color: #bb2929;
    opacity: 1;
}
.group-incorrect
.input{
    border: 3px solid  #bb2929;
}

.message{
    grid-column: span 1;
}
.message{
    height: 45px;
    line-height: 45px;
    background-color: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.message-active{
    display: block;
}

.success{
    font-size: 14px;
    color: #119200;
    display: none;
}
.success-active{
    display: block;
}